.notify {
  display: block;
  text-align: center;
  &__content {
    display: inline-block;
    font-size: 12px;
    background: #fff;
    border: 1px solid rgba(112,124,151,.25); 
    border-radius: 15px;
    box-shadow: 15px 15px 35px rgba(112,124,151,.05), 10px 10px 25px rgba(112,124,151,.05);
    padding: 1em;
  }
}