.page-main {
  display: flex;
  height: calc(100% - 50px);
  &__chat {
    width: calc(100% - 200px);
  }
}

@media screen and (max-width: 620px) {
  .page-main {
    &__chat {
      width: 100%;
    }
  }
}