@import './user/user.scss';

.sidebar {
  flex: 0 0 200px;
  background-color: #f1f1f1;
  height: 100%;
  padding: 12px;
  &__user {
    margin-bottom: 9px;
    &:last-child {
      margin-bottom: 0;
    }
  }
}

@media screen and (max-width: 620px) {
  .sidebar {
    display: none;
  }
}